*
{
    margin:0;
}

#padre
{
background-color: darkslateblue;
padding: 20px;
width: 600px;
height: 400px;
border-radius: 390px;
}
.hijo
{
background-color: brown;
padding: 20px;
width: 1px;
height: 1px;
border-radius: 150px;
margin: 50px;
}
.nieto
{
background-color: yellow;
padding: 20px;
width: 1px;
height: 1px;
border-radius: 150px;
}
.bisnieto
{
background-color: chartreuse;
padding: 20px;
width: 1px;
height: 1px;
border-radius: 150px;
}
.nieto2
{
background-color:salmon;
padding: 20px;
width: 1px;
height: 1px;
border-radius: 150px;
}
.nieto3
{
background-color: gray;
padding: 20px;
width: 1px;
height: 1px;
border-radius: 150px;
}
.nieto4
{
background-color: white;
padding: 20px;
width: 1px;
height: 1px;
border-radius: 150px;
}

#madre
{
    padding: 10px;
   margin-bottom: 100px;
   margin-right: 10px;
}